In [1]:
import sys
sys.path.append('/Users/victor/Documents/code/nba_api')

from nba_py import player
import pandas as pd

In [2]:
pl = player.PlayerList()

In [3]:
pl.info().sample(frac=.01)

,PERSON_ID,DISPLAY_LAST_COMMA_FIRST,DISPLAY_FIRST_LAST,ROSTERSTATUS,FROM_YEAR,TO_YEAR,PLAYERCODE,TEAM_ID,TEAM_CITY,TEAM_NAME,TEAM_ABBREVIATION,TEAM_CODE,GAMES_PLAYED_FLAG,OTHERLEAGUE_EXPERIENCE_CH
206,1627772,"Hamilton, Daniel",Daniel Hamilton,0,2017,2018,daniel_hamilton,0,,,,,Y,11
40,1627736,"Beasley, Malik",Malik Beasley,1,2016,2018,malik_beasley,1610612743,Denver,Nuggets,DEN,nuggets,Y,01
472,1629016,"Spellman, Omari",Omari Spellman,1,2018,2018,omari_spellman,1610612737,Atlanta,Hawks,ATL,hawks,Y,11
508,203079,"Waiters, Dion",Dion Waiters,1,2012,2018,dion_waiters,1610612748,Miami,Heat,MIA,heat,Y,00
102,1629147,"Chealey, Joe",Joe Chealey,1,2018,2018,joe_chealey,1610612766,Charlotte,Hornets,CHA,hornets,Y,11