In [15]:
from src.espn_scraper import espn_player_scraper
from sqlalchemy import create_engine, Integer

### Scrape and Load to DB

In [3]:
# Initialize the db. Relatively small dataset, so we'll use SQLite
engine = create_engine("sqlite:///db/nba.db", echo=False)

teams_overview_url = "http://www.espn.com/nba/players"
scraper = espn_player_scraper()
player_df = scraper.scrape_all_players(teams_overview_url)

100%|██████████| 30/30 [00:23<00:00,  1.33it/s]

In [4]:
player_df.head()

,name,position,espn_player_id,url
0,Aron Baynes,C,2968439,http://www.espn.com/nba/player/_/id/2968439/ar...
1,Jaylen Brown,SG,3917376,http://www.espn.com/nba/player/_/id/3917376/ja...
2,PJ Dozier,PG,3923250,http://www.espn.com/nba/player/_/id/3923250/pj...
3,Jonathan Gibson,PG,2234666,http://www.espn.com/nba/player/_/id/2234666/jo...
4,Gordon Hayward,SF,4249,http://www.espn.com/nba/player/_/id/4249/gordo...

In [12]:
# Load to DB
with engine.connect() as conn:
    player_df.to_sql('players', conn, dtype={"espn_player_id":Integer}, if_exists="replace")