In [1]:
import sys
sys.path.append('/Users/victor/Documents/code/nba_api')

from nba_py import player
import pandas as pd

In [2]:
pl = player.PlayerList()

In [3]:
pl.info().sample(frac=.01)

,PERSON_ID,DISPLAY_LAST_COMMA_FIRST,DISPLAY_FIRST_LAST,ROSTERSTATUS,FROM_YEAR,TO_YEAR,PLAYERCODE,TEAM_ID,TEAM_CITY,TEAM_NAME,TEAM_ABBREVIATION,TEAM_CODE,GAMES_PLAYED_FLAG,OTHERLEAGUE_EXPERIENCE_CH
206,1627772,"Hamilton, Daniel",Daniel Hamilton,0,2017,2018,daniel_hamilton,0,,,,,Y,11
40,1627736,"Beasley, Malik",Malik Beasley,1,2016,2018,malik_beasley,1610612743,Denver,Nuggets,DEN,nuggets,Y,01
472,1629016,"Spellman, Omari",Omari Spellman,1,2018,2018,omari_spellman,1610612737,Atlanta,Hawks,ATL,hawks,Y,11
508,203079,"Waiters, Dion",Dion Waiters,1,2012,2018,dion_waiters,1610612748,Miami,Heat,MIA,heat,Y,00
102,1629147,"Chealey, Joe",Joe Chealey,1,2018,2018,joe_chealey,1610612766,Charlotte,Hornets,CHA,hornets,Y,11

In [22]:
a = player.PlayerShotTracking(1627736, per_mode='Totals')

In [24]:
a.general_shooting()

,PLAYER_ID,PLAYER_NAME_LAST_FIRST,SORT_ORDER,GP,G,SHOT_TYPE,FGA_FREQUENCY,FGM,FGA,FG_PCT,EFG_PCT,FG2A_FREQUENCY,FG2M,FG2A,FG2_PCT,FG3A_FREQUENCY,FG3M,FG3A,FG3_PCT
0,1627736,"Beasley, Malik",1,81,77,Catch and Shoot,0.456,140,333,0.420,0.626,0.012,3,9,0.333,0.444,137,324,0.423
1,1627736,"Beasley, Malik",2,81,61,Pull Ups,0.244,69,178,0.388,0.449,0.145,47,106,0.443,0.099,22,72,0.306
2,1627736,"Beasley, Malik",3,81,73,Less than 10 ft,0.295,135,215,0.628,0.628,0.295,135,215,0.628,0.000,0,0,NaN
3,1627736,"Beasley, Malik",4,81,4,Other,0.005,2,4,0.500,0.750,0.000,0,0,NaN,0.005,2,4,0.500

In [31]:
player.PlayerShootingSplits(1627736).shot_8ft()

,GROUP_SET,GROUP_VALUE,FGM,FGA,FG_PCT,FG3M,FG3A,FG3_PCT,EFG_PCT,BLKA,...,EFG_PCT_RANK,BLKA_RANK,PCT_AST_2PM_RANK,PCT_UAST_2PM_RANK,PCT_AST_3PM_RANK,PCT_UAST_3PM_RANK,PCT_AST_FGM_RANK,PCT_UAST_FGM_RANK,CFID,CFPARAMS
0,Shot Distance (8ft),Less Than 8 ft.,136,219,0.621,0,0,0.000,0.621,30,...,1,5,1,3,3,2,3,2,48,Less Than 8 ft.
1,Shot Distance (8ft),8-16 ft.,30,62,0.484,0,0,0.000,0.484,2,...,3,3,3,1,3,2,4,1,48,8-16 ft.
2,Shot Distance (8ft),16-24 ft.,22,56,0.393,2,5,0.400,0.411,0,...,4,1,2,2,1,2,2,3,48,16-24 ft.
3,Shot Distance (8ft),24+ ft.,161,399,0.404,161,399,0.404,0.605,2,...,2,3,4,4,2,1,1,4,48,24+ ft.
4,Shot Distance (8ft),Back Court Shot,0,1,0.000,0,1,0.000,0.000,0,...,5,1,4,4,3,2,5,5,48,Back Court Shot

In [33]:
player.PlayerYearOverYearSplits(1627736).by_year()

,GROUP_SET,GROUP_VALUE,TEAM_ID,TEAM_ABBREVIATION,MAX_GAME_DATE,GP,W,L,W_PCT,MIN,...,BLKA_RANK,PF_RANK,PFD_RANK,PTS_RANK,PLUS_MINUS_RANK,NBA_FANTASY_PTS_RANK,DD2_RANK,TD3_RANK,CFID,CFPARAMS
0,By Year,2018-19,1610612743,DEN,2019-04-10T00:00:00,81,53,28,0.654,23.2,...,1,1,1,1,2,1,1,1,264,2018-19
1,By Year,2017-18,1610612743,DEN,2018-04-07T00:00:00,62,34,28,0.548,9.4,...,3,2,2,3,3,3,1,1,264,2017-18
2,By Year,2016-17,1610612743,DEN,2017-04-12T00:00:00,22,12,10,0.545,7.5,...,2,3,3,2,1,2,1,1,264,2016-17

In [37]:
player.PlayerYearOverYearSplits(1627736, per_mode="Per48").by_year()

,GROUP_SET,GROUP_VALUE,TEAM_ID,TEAM_ABBREVIATION,MAX_GAME_DATE,GP,W,L,W_PCT,MIN,...,BLKA_RANK,PF_RANK,PFD_RANK,PTS_RANK,PLUS_MINUS_RANK,NBA_FANTASY_PTS_RANK,DD2_RANK,TD3_RANK,CFID,CFPARAMS
0,By Year,2018-19,1610612743,DEN,2019-04-10T00:00:00,81,53,28,0.654,1878.723333,...,3,2,3,2,2,2,1,1,264,2018-19
1,By Year,2017-18,1610612743,DEN,2018-04-07T00:00:00,62,34,28,0.548,582.731667,...,2,1,1,3,3,3,1,1,264,2017-18
2,By Year,2016-17,1610612743,DEN,2017-04-12T00:00:00,22,12,10,0.545,164.895000,...,1,3,2,1,1,1,1,1,264,2016-17

In [38]:
player.PlayerYearOverYearSplits(1627736, per_mode="Per48").by_year().columns

Index(['GROUP_SET', 'GROUP_VALUE', 'TEAM_ID', 'TEAM_ABBREVIATION',
       'MAX_GAME_DATE', 'GP', 'W', 'L', 'W_PCT', 'MIN', 'FGM', 'FGA', 'FG_PCT',
       'FG3M', 'FG3A', 'FG3_PCT', 'FTM', 'FTA', 'FT_PCT', 'OREB', 'DREB',
       'REB', 'AST', 'TOV', 'STL', 'BLK', 'BLKA', 'PF', 'PFD', 'PTS',
       'PLUS_MINUS', 'NBA_FANTASY_PTS', 'DD2', 'TD3', 'GP_RANK', 'W_RANK',
       'L_RANK', 'W_PCT_RANK', 'MIN_RANK', 'FGM_RANK', 'FGA_RANK',
       'FG_PCT_RANK', 'FG3M_RANK', 'FG3A_RANK', 'FG3_PCT_RANK', 'FTM_RANK',
       'FTA_RANK', 'FT_PCT_RANK', 'OREB_RANK', 'DREB_RANK', 'REB_RANK',
       'AST_RANK', 'TOV_RANK', 'STL_RANK', 'BLK_RANK', 'BLKA_RANK', 'PF_RANK',
       'PFD_RANK', 'PTS_RANK', 'PLUS_MINUS_RANK', 'NBA_FANTASY_PTS_RANK',
       'DD2_RANK', 'TD3_RANK', 'CFID', 'CFPARAMS'],
      dtype='object')